@tailwind base;
@tailwind components;
@tailwind utilities;

.bcground {
  background-image: url("../assets/imgs/Home/Section1.webp");
}

.boxShadow {
  box-shadow: 9px 10px 12px 1px rgba(0, 0, 0, 0.3);
}

.gradientBackground {
  background: linear-gradient(to left, #0056ff, #003070);
}

.gradientBackground2 {
  background: linear-gradient(to left, #8CB1F9, #8CA0BC);
}

.navbarBackground {
  background: linear-gradient(to bottom, #000000, transparent);
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Open Sauce One", sans-serif;
}
